<style>
  .modal-content{
  background-color: #212121;
  }
</style>


<!-- More Info -->
<div class="modal fade" id="Modal-MoreInfo-{{ item_val['id'] }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <!-- -->
            {{ item_val['name'] }}
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #fff">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ item_val['description'] }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Purchase Confirm -->
<div class="modal fade" id="Modal-PurchaseConfirm-{{ item_val['id'] }}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <!-- -->
            {{ item_val['name'] }}
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #fff">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {{ purchase.hidden_tag() }}
        <h4 class="text-center" style='margin-bottom: 1.6rem'>Are you sure you want to purchase {{ item_val['name'] }} for {{ item_val['price'] }}$ ?</h4>
          <h6 class="text-center" style='margin-bottom: 1.6rem'>By clicking purchase, you will purchase this item.</h6>

          <input id="purchased_item" name="purchased_item" type="hidden" value='{{ item_val["name"] }}'>
          {{ purchase.submit(class='btn btn-outline-success btn-block') }}
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>